@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

:root {
    --main-bg-color: #E9E9E9;
    --primary-text-color: #424242;
    --accent-color: #ff3f3c;
}

body {
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
} 

header {
    padding: 20px;
    margin-bottom: 100px;
}

header h1 {
    margin: 0;
    font-weight: normal;
}

main {
    background: url('polaroid.png') no-repeat center 100px;
    margin: 0 auto;
    width: 1000px;
}

.hero {
    text-align: center;
    min-height: 800px;
}

.hero h2 {
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}

.details ul li {
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 40px;
    text-align: center left;
    font-size: 30px;
}

.details ul li.wifi {
    background: url('wifi-solid.svg') no-repeat center left;
}

.details ul li.cloud {
    background: url('cloud-arrow-up-solid.svg') no-repeat center left;
}

.details ul li.qr {
    background: url('qrcode-solid.svg') no-repeat center left;
}

.details ul li.share {
    background: url('photo-film-solid.svg') no-repeat center left;
}

.details h3 {
    text-align: center;
    font-size: 47px;
}

.details p {
    text-align: center left;
    font-size: 30px;
}

.cta {
    text-align: center;
}

.cta h3 {
    margin-top: 65px;
    font-size: 47px;
}

.box {
    background-color: lightgrey;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 50px;
    flex-grow: 1;
}

.box-input {
    padding: 1rem;
    display: block;
    background-color: red;
    flex-grow: 1;
}

.input-container {
    display: block;
}


